<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source=LAPTOP-KTG15LSM;Initial Catalog=cricket;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="cricketConnectionString" connectionString="Data Source=LAPTOP-KTG15LSM;Initial Catalog=cricket;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <!--Data Source=LAPTOP-KTG15LSM;Initial Catalog=cricket;Integrated Security=True-->
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value = "true"/>
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="apaksh2626@gmail.com" />
    <add key="smtpPass" value="9323207590" />
    <add key="adminEmail" value="apaksh2626@gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="apaksh2626@gmail.com">
        <network host="smtp.gmail.com" password="9323207590" port="587" userName="apaksh2626@gmail.com"  enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
